.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #252525;
  
}

.content-area {
  padding-left: 80px; 
  transition: padding-left 0.3s ease;
}

.vertical-sidebar.expanded + .content-area {
  padding-left: 220px;
}
