.category-scroll-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #252525;
  position: sticky;
  top: 54px;
  z-index: 99;
}

.category-scroll {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  margin: 0 10px;
  flex-grow: 1;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 1.2em;
}

.scroll-button.left {
  margin-right: 10px;
}

.scroll-button.right {
  margin-left: 10px;
}